* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
}

input {
    width: 80%;
    padding: 8px;
    border: 1px solid #120b0b;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #14d437;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3c9914;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background-color: #f7e9e9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c9302c;
}
